.page-title {
    color: #482462;
    font-weight: bold;
}

.tools-header {
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.sensedia-logo {
    max-width: 160px;
}

@media (max-width: 767px) {
    .sensedia-logo {
        margin-bottom: 20px;
    }
}